body {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  font: 12px "HelveticaNeue-Light", sans-serif;
  background: #444;
}
main {
  position: relative;
  width: 850px;
  margin: 0 auto;
  padding: 20px;
  background: #999;
  min-height: 90%;
}
h1 {
  font-size: 50px;
  font-weight: normal;
  color: white;
}
h2 {
  margin-top: 30px;
  font-weight: normal;
  color: white;
}
#complete {
  position: fixed;
  right: 80px;
  top: 50px;
  cursor: pointer;
  transition: margin 700ms;
}
.field {
  cursor: pointer;
  padding: 20px;
  border: 1px solid white;
  margin-bottom: 5px;
}
.field input {
  font-size: 30px;
  padding: 5px;
}
.field input.correct {
  color: green;
  border: 5px solid green;
}
.field input.incorrect {
  color: red;
  border: 5px solid red;
}
#results {
  display: flex;
  flex-wrap: wrap;
}
.results-word {
  background: white;
  color: green;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.results-word h3 {
  display: inline-block;
  font-weight: bold;
  padding: 0 10px;
}
.results-word span {
  display: inline-block;
  padding: 0 10px;
}
